body {
  background-image: url(https://cdn.shopify.com/s/files/1/0105/2367/2657/t/4/assets/pf-756397a4--MFWBG.png?v=1630696007);
  color: white;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

.navbar-links {
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: bisque;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: flex-start;
}


li {
  padding: 0 30px;
}

a {
  text-decoration: none;
  color: white;
}